:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
}

a {
  font-weight: 500;
  color: #fca728;
  text-decoration: inherit;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #a06a19;
}

html #app {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
}

.ss-theme-dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
